<div class="row bg-dark sidebar">
    <div class="col">
        <div class="row">
            <div class="col">
                <a routerLink="/liste">Accueil</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a routerLink="/add">Formulaire</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a routerLink="/addImg">Formulaire2</a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <a routerLink="/fiche">Fiches</a>
            </div>
        </div> -->

        <div class="row">
            <h2>Menu</h2>
        </div>
        <div class="row">
            <i class="fa fa-cloud" title="Stream"></i>
        </div>
        <div class="row">
            <i class="fa fa-heart" title="Likes"></i>
        </div>
        <div class="row" *ngIf="islogged">
            <i class="fa-bookmark" title="PlayLists"></i>
        </div>
    </div>
</div>