<div class="row">
    <div class="col col-md">
        <div class="row">
            <div class="col col-md-10 offset-3">
                <h1>Ajouter un fichier</h1>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-5 col-md-4 offset-3 offset-md-2">
                <form>
                    <div class="row">
                        <label class="col-4 col-md-3">Votre fichier : </label>
                        <input class="form-control col-8 col-md-7" #file type="file" (change)="UploadFile(file.files)" />
                    </div>
                    <div class="row">
                        <label class="col-4 col-md-3">Titre : </label>
                        <input class="form-control col-8 col-md-7" type="text" name="title"  [(ngModel)]="title"/>
                    </div>
                    <div class="row">
                        <button type="submit" class="col col-md-10 btn btn-dark" (click)="Add()">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>