<ol class="list-group m-3">
    <app-item-cv (selectedRecette)= "selecRecipe($event)" [recipe]= "recette[0]"></app-item-cv>
    <app-item-cv (selectedRecette)= "selecRecipe($event)" [recipe]= "recette[1]"></app-item-cv>
    <app-item-cv (selectedRecette)= "selecRecipe($event)" [recipe]= "recette[2]"></app-item-cv>
    <app-item-cv (selectedRecette)= "selecRecipe($event)" [recipe]= "recette[3]"></app-item-cv>
    <app-item-cv (selectedRecette)= "selecRecipe($event)" [recipe]= "recette[4]"></app-item-cv>
</ol>