<div class="col-md-12 col-sm-12 m-3">
    <div class="card-container">
        <div class="card">
            <div class="front">
                <div class="cover">
                    <img class="img-circle" src="{{ recipe.path }}">
                </div>
                <!-- <div class="user">
                    <img class="img-circle" src="{{ recipe.path }}">
                </div> -->
                <div class="container-fluid">
                    <div class="main">
                        <h3 class="name">{{ recipe.title }}</h3>
                        <h5>Composition</h5>
                        <div *ngFor='let p of recipe.composition'>
                            <div  class="d-flex flex-wrap"> - {{p}}</div>
                        </div>
                      
                    </div>
                    <!-- <div class="footer">
                        <i class="fa fa-mail-forward"></i> Auto Rotation
                    </div> -->
                </div>
            </div> <!-- end front panel -->
            <div class="back">
                <div class="header">
                    <h3>Préparation</h3>
                </div>
                <div class="content">
                    <div class="main">
                     
                        <p class="text-center">{{recipe.texte}}</p>

             

                    </div>
                </div>
                <div class="footer">
                    <div class="social-links text-center">
                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                    </div>
                </div>
            </div> <!-- end back panel -->
        </div> <!-- end card -->
    </div> <!-- end card-container -->
</div>