<div class="col-md-12 col-sm-12 m-3">
    <div class="card-container">
        <div class="card">
            <div class="front">
                <div class="cover">
                    <img class="img-circle" src="{{ recipe.path }}">
                </div>
                <!-- <div class="user">
                    <img class="img-circle" src="{{ recipe.path }}">
                </div> -->
                <div class="container">
                    <div class="main">
                        <h1 class="name">{{ recipe.title }}</h1>
                        <h5>Composition</h5>
                        <div class="row" *ngFor='let p of recipe.composition'>
                            <div class="col d-flex flex-wrap"> - {{p}}</div>
                        </div>

                    </div>
                    <!-- <div class="footer">
                        <i class="fa fa-mail-forward"></i> Auto Rotation
                    </div> -->
                </div>
            </div> <!-- end front panel -->
            <div class="back">
                <div class="header">
                    <h4>Préparation</h4>
                </div>
                <div class="content">
                    <div class="main">

                        <p class="text-center">{{recipe.texte}}</p>



                    </div>
                </div>
                <div class="footer">
                    <div class="social-links text-center">
                        <h3>Bon appétit !</h3>
                    </div>
                </div>
            </div> <!-- end back panel -->
        </div> <!-- end card -->
    </div> <!-- end card-container -->
</div>